:root {
	--container-width: 1430px;
	--container-padding: 14px;

	--font-main: 'Lato', sans-serif;

	--bg-color: #e7e7e7;
	--accent: #d00b0e;
	--white: #fff;
	--black: #000;
	--white-line: #ffffff38;
	--home-item: #4e4d4da5;
	--black-line: #00000038;
	--border-color: rgba(0, 0, 0, 0.3);

	--laptop-size: 1430px;
	--tablet-size: 920px;
	--mobile-size: 320px;

/* Nav */
--nav-bg: var(--black);
--nav-border: var(--black);
--nav-text: var(--white);
--nav-line:var(--white-line);

/* Header */
--header-bg: var(--white);
--header-text: var(--black);

/* Footer */
--footer-bg: var(--black);
--footer-text: var(--white);

/* Light mode */
--bg-color: #e7e7e7;
--text-color: var(--black);
--line: var(--black-line);
--header-text: var(--black);
--home-text: var(--black);
--home-item: #4e4d4da5;
--nav-text: var(--black);

--project-card-bg: var(--white);
--project-card-text: var(--black);
--box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
}

.dark-mode {
/* Dark mode */
--bg-color: #0f0f0f;
--text-color: var(--white);
--header-text: var(--white);
--line: var(--white-line);
--header-bg: var(--black);
--home-text: var(--white);
--home-item: #4e4d4da5;
--nav-text: var(--black);

--project-card-bg: var(--black);
--project-card-text: var(--white);
--box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8); 
--nav-border: var(--white);
}

.red{
	--bg-color: var(--accent);
--text-color: var(--white);
--line: var(--black-line);
--nav-border: var(--black);
--header-bg: var(--white);
--home-text: var(--black);
--nav-text: var(--black);
--header-text: var(--black);
}
